In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import datetime
import warnings
import random
from functools import reduce 
from os import walk
warnings.filterwarnings('ignore')

In [4]:
dataset = pd.read_csv('F:/aliyuun_datas/2021数字汽车大赛/temp_df/datasets_aw.csv')
dataset.shape

(6880557, 44)

In [5]:
dataset.columns

Index(['vin', '时间', '车速', '车辆状态', '充电状态', '总电压', '总电流', '累计里程', 'SOC',
       '电池单体电压最高值', '最高电压电池单体代号', '电池单体电压最低值', '最低电压电池单体代号', '最高温度值',
       '最高温度探针单体代号', '最低温度值', '最低温度探针单体代号', '最高报警等级', 'DC_DC状态', '档位',
       '驱动电机状态', '驱动电机转速', '驱动电机转矩', '驱动电机温度', '驱动电机控制器温度', '电机控制器输入电压',
       '电机控制器直流母流电流', '经度', '维度', '加速踏板行程值', '制动踏板状态', 'day', 'second',
       'speed', 'time_changed', 'speed_changed', 'a', 'engine_speed_changed',
       'engine_torque_changed', 'engine_temperature_changed',
       'engine_controller_tpt_changed', 'w', '经度_', '维度_'],
      dtype='object')

In [4]:
dataset[['档位', '加速踏板行程值','制动踏板状态']]

          档位  加速踏板行程值  制动踏板状态
0        0.0      0.0     0.0
1        0.0      0.0     0.0
2        0.0      0.0     0.0
3        0.0      0.0     0.0
4        0.0      0.0     0.0
...      ...      ...     ...
6880552  0.0      0.0     0.0
6880553  0.0      0.0     0.0
6880554  0.0      0.0     0.0
6880555  0.0      0.0     0.0
6880556  0.0      0.0     0.0

[6880557 rows x 3 columns]

In [5]:
dataset['加速踏板行程值'].value_counts()

0.0      5013581
100.0      81515
18.0       41227
20.0       38529
16.0       38475
          ...
91.0        4425
93.0        4175
95.0        3907
97.0        3775
99.0        3084
Name: 加速踏板行程值, Length: 101, dtype: int64

# <font color=orange>1. 猛加速起步行为判定</font>

## <font color=pink>判断指标：初速度为0，起步加速度是否大于 1 </font>

In [13]:
a_more_than_1 = dataset[dataset['speed']==0]
a_more_than_1[a_more_than_1['a']>1]

Empty DataFrame
Columns: [vin, 时间, 车速, 车辆状态, 充电状态, 总电压, 总电流, 累计里程, SOC, 电池单体电压最高值, 最高电压电池单体代号, 电池单体电压最低值, 最低电压电池单体代号, 最高温度值, 最高温度探针单体代号, 最低温度值, 最低温度探针单体代号, 最高报警等级, DC_DC状态, 档位, 驱动电机状态, 驱动电机转速, 驱动电机转矩, 驱动电机温度, 驱动电机控制器温度, 电机控制器输入电压, 电机控制器直流母流电流, 经度, 维度, 加速踏板行程值, 制动踏板状态, day, second, speed, time_changed, speed_changed, a, engine_speed_changed, engine_torque_changed, engine_temperature_changed, engine_controller_tpt_changed, w, 经度_, 维度_]
Index: []

[0 rows x 44 columns]

In [16]:
len(dataset[dataset['a']>0.5])

338164

In [ ]:
# dataset['is_not_speed_abnormal'] = np.zeros(len(dataset), dtype=int)
# dataset[['is_not_speed_abnormal']]

In [7]:
dataset[dataset['speed']>0]['a']>2

7          False
8          False
9          False
10         False
15         False
           ...
6880552    False
6880553    False
6880554    False
6880555    False
6880556    False
Name: a, Length: 4922579, dtype: bool

In [8]:
len(dataset[dataset['a']>0.000001])

289056

## <font color=pink>由于时间间隔不全是15s，需要异常处理</font>

In [ ]:
# dataset[dataset['time_changed']!=15.0]['time_changed']

In [ ]:
# dataset['time_changed'].value_counts()

# <font color=orange>转弯加速识别</font>
## <font color=pink>车速非0，转弯角度超过30°</font>

In [9]:
dataset[['经度', '维度']]

                  经度          维度
0        116359166.0  39839881.0
1        116359166.0  39839881.0
2        116359166.0  39839881.0
3        116359166.0  39839881.0
4        116359166.0  39839881.0
...              ...         ...
6880552  116359218.0  39840158.0
6880553  116359218.0  39840158.0
6880554  116359218.0  39840158.0
6880555  116359218.0  39840158.0
6880556  116359218.0  39840158.0

[6880557 rows x 2 columns]