In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import datetime
import warnings
import random
from functools import reduce 
from os import walk
warnings.filterwarnings('ignore')

In [40]:
# 采样用户兴趣表
def user_interest_train_set(frac):
    print('-'*25 + "用户兴趣分析" + '-'*50)
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/user_interest'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    user_interest_train = pd.concat(dataframe_list)#全量数据集
    print("用户兴趣表全量数据量为： " + str(user_interest_train.shape))
    user_interest_train_sample = user_interest_train.sample(frac=frac, random_state=100, replace=False)
    print("用户兴趣表采样后的数据量为：" + str(user_interest_train_sample.shape))
    return user_interest_train, user_interest_train_sample

In [42]:
# 语音话单分析表
def voice_cdr_train_set(frac):
    print('-'*25 + "语音话单分析" + '-'*50)
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/voice_cdr'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    voice_train = pd.concat(dataframe_list)#全量数据集
    print("语音话单全量数据量为： " + str(voice_train.shape))
    voice_train_sample = voice_train.sample(frac=frac, random_state=100, replace=False)
    print("语音话单采样后的数据量为：" + str(voice_train_sample.shape))
    return voice_train, voice_train_sample

In [36]:
# GPRS话单分析
def GPRS_train_set(frac):
    print('-'*25 + "GPRS话单分析" + '-'*50)
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/gprs_cdr'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    GPRS_train = pd.concat(dataframe_list)#全量数据集
    print("位置信息全量数据量为： " + str(GPRS_train.shape))
    GPRS_train_sample = GPRS_train.sample(frac=frac, random_state=100, replace=False)
    print("位置信息采样后的数据量为：" + str(GPRS_train_sample.shape))
    return GPRS_train, GPRS_train_sample

In [41]:
# 短信话单分析表
def note_cdr_set(frac):
    print('-'*25 + "短信话单分析" + '-'*50)
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/note_cdr'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    note_cdr_train = pd.concat(dataframe_list)#全量数据集
    print("短信话单全量数据量为： " + str(note_cdr_train.shape))
    note_cdr_train_sample = note_cdr_train.sample(frac=frac, random_state=100, replace=False)
    print("短信话单采样后的数据量为：" + str(note_cdr_train_sample.shape))
    return note_cdr_train, note_cdr_train_sample

In [37]:
# 漫游分析表
def roam_set(frac):
    print('-'*25 + "漫游分析" + '-'*50)
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/roam'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    roam_train = pd.concat(dataframe_list)#全量数据集
    print("漫游分析全量数据量为： " + str(roam_train.shape))
    roam_train_sample = roam_train.sample(frac=frac, random_state=100, replace=False)
    print("漫游分析采样后的数据量为： " + str(roam_train_sample.shape))
    return roam_train, roam_train_sample

In [31]:
# 订购资费行为
def ord_traiff_set(frac):
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/order_tariff/'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    ord_traiff_train = pd.concat(dataframe_list)#全量数据集
    print("订购资费全量数据量为： " + str(ord_traiff_train.shape))
    ord_traiff_train_sample = ord_traiff_train.sample(frac=frac, random_state=100, replace=False)
    print("订购资费采样后的数据量为：" + str(ord_traiff_train_sample.shape))
    return ord_traiff_train, ord_traiff_train_sample

In [32]:
# 个人用户分析表（全量数据）老年人数据
def person_user():
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/person_user'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j))
    person_user_train = pd.concat(dataframe_list)#全量数据集
    print("个人用户全量数据量为： " + str(person_user_train.shape))
    old_person_user_train = person_user_train[person_user_train['age_lvl'] >= 6.0]  # 老年人部分的数据
    print("老年人数据量为：" + str(old_person_user_train.shape))
    return person_user_train, old_person_user_train

In [ ]:
# 构建所用数据集
def datasets_made():
    person_user_train, old_person_user_train = person_user()# 个人用户分析表全量，个人用户分析表老年人部分(60岁以上)
    user_interest_train, user_interest_train_sample = user_interest_train_set(0.01)# 用户兴趣表全量数据，采样数据1%
    voice_train, voice_train_sample = voice_cdr_train_set(0.01)# 语音话单分析表全量数据，采样数据1%
    GPRS_train, GPRS_train_sample = GPRS_train_set(0.01)# GPRS话单分析表全量数据，采样数据1%
    note_cdr_train, note_cdr_train_sample = note_cdr_set(0.1)# 短信话单分析表（全量数据）
    roam_train, roam_train_sample = roam_train(0.1)# 漫游分析表（全量数据），采样10%
    ord_traiff_train, ord_traiff_train_sample = ord_traiff_set(0.01)# 订购资费行为表，采样数据1%
    # hds_train, hds_train_sample = hds_train_set(0.001)# 位置信息表

    old_id = old_person_user_train['user_id'] # 老年人id
    
    df = [old_person_user_train, user_interest_train_sample, voice_train_sample, GPRS_train_sample, note_cdr_train, roam_train, ord_traiff_train_sample]
    data_train = reduce(lambda left,right: pd.merge(left,right,on=['user_id']), df)
    
    return data_train

In [47]:
# 位置信息表
def hds_train_set(frac):
    """
    数据量大，89张表，每张25000000左右
    """
    dataframe_list = []
    for f, _, i in walk('/home/naie/work/cache/datasets/DatasetService/hds_25427'):
        for j in tqdm(i):
            dataframe_list.append(pd.read_csv(f + '/' + j).sample(frac=frac, random_state=100, replace=False))
    hds_train_sample_total = pd.concat(dataframe_list)#全量数据集
    print("位置信息表每张表采样后的总数据量为： " + str(hds_train_sample_total.shape))
    return hds_train_sample_total



gprs_cdr_04 = pd.read_csv(base_path + "gprs_cdr/i_10000_HDB_T_TW_GPRS_CDR_ANALYZE_202104_00_000.csv")
gprs_cdr_04 = pd.merge(Tmp, gprs_cdr_04, how='inner', on=['user_id', 'statis_ym', 'city_code']).reset_index(drop=True)
for i in range(1, 20):
    if i < 10:
        tmp = pd.read_csv(base_path + "gprs_cdr/i_10000_HDB_T_TW_GPRS_CDR_ANALYZE_202104_00_00{}.csv" .format(i))
        tmp = pd.merge(Tmp, tmp, how='inner', on=['user_id', 'statis_ym', 'city_code']).reset_index(drop=True)
        gprs_cdr_04 = pd.concat([gprs_cdr_04, tmp]).reset_index(drop=True)
    else:
        tmp = pd.read_csv(base_path + "gprs_cdr/i_10000_HDB_T_TW_GPRS_CDR_ANALYZE_202104_00_0{}.csv" .format(i))
        tmp = pd.merge(Tmp, tmp, how='inner', on=['user_id', 'statis_ym', 'city_code']).reset_index(drop=True)
        gprs_cdr_04 = pd.concat([gprs_cdr_04, tmp]).reset_index(drop=True)

77

In [ ]:
if __name__ == "__main__":
    # 1.构建数据集
    datasets_made()

In [3]:
df1 = pd.DataFrame({'key':['X', 'Y', 'Z'], 'data_set_1':[1, 2, 3]})
print(df1)
df2 = pd.DataFrame({'key':['X', 'B', 'C'], 'data_set_2':[4, 5, 6]})
print(df2)
df3 = pd.DataFrame({'key':['X', 'F', 'C'], 'data_set_2':[4, 5, 6]})
df4 = pd.DataFrame({'key':['X', 'A', 'C'], 'data_set_2':[4, 5, 6]})
df5 = pd.DataFrame({'key':['X', 'B', 'A'], 'data_set_2':[4, 5, 6]})
df6 = pd.DataFrame({'key':['X', 'e', 'e'], 'data_set_2':[4, 5, 6]})

  key  data_set_1
0   X           1
1   Y           2
2   Z           3
  key  data_set_2
0   X           4
1   B           5
2   C           6

In [92]:
df = [df1, df2, df3, df4, df5, df6]
data_train = reduce(lambda left,right: pd.merge(left,right,on=['key']), df)

In [93]:
data_trainwalk

,key,data_set_1,data_set_2_x,data_set_2_y,data_set_2_x,data_set_2_y,data_set_2
0,X,1,4,4,4,4,4

In [84]:
df3 = pd.merge(df1, df2, on='key', how='inner')
df3

  key  data_set_1  data_set_2
0   X           1           4

In [85]:
df4 = pd.DataFrame({'key':['X', 'F', 'K'], 'data_set_3':[7, 8, 9]})
df4

  key  data_set_3
0   X           7
1   F           8
2   K           9

In [86]:
df5 = pd.merge(df3, df4, on='key', how='inner')
df5

  key  data_set_1  data_set_2  data_set_3
0   X           1           4           7

In [8]:
df5 = pd.DataFrame({'data_set_1':[1, 2, 3], 'data_set_2':[4, 5, 6]})
df5

   data_set_1  data_set_2
0           1           4
1           2           5
2           3           6

In [10]:
df5['data_set_new'] = df5['data_set_1'] * df5['data_set_2']
df5

   data_set_1  data_set_2  data_set_new
0           1           4             4
1           2           5            10
2           3           6            18

In [11]:
df5['data_set_other'] = df5['data_set_1'] + df5['data_set_2']
df5

   data_set_1  data_set_2  data_set_new  data_set_other
0           1           4             4               5
1           2           5            10               7
2           3           6            18               9

In [13]:
df5['data_set_other'].value_counts()

9    1
5    1
7    1
Name: data_set_other, dtype: int64